.tooltip-content::-webkit-scrollbar {
  width: 6px !important;
  background: #f6f7f8 !important;
  border-radius: 4px !important;
  padding: 0 !important;
}

.tooltip-content::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 0 !important;
}

.tooltip-content::-webkit-scrollbar-thumb {
  background-color: #dfe2e7 !important;
  border-radius: 4px !important;
}

.tooltip-content {
  margin-right: -8px !important; /* 抵消滚动条宽度 */
}
